.order-history-item{
    color: white;
    position: relative;
    border: 2px solid gray;
    padding: 20px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.pending{
        background-color: red;
    }
    
    &.delivered{
        background-color: rgb(183,255,115) ;
    }
    &__time{
        position: absolute;
        top: -14px;
        right: 10px;
        background-color: #fff;
        color: black;
        padding: 5px 20px;
        border: 1px solid black;
    }

    &__product{
        display: flex;
        align-items: center;

        .ui.image{
            width: 80px;
            border: 1px solid gray;
            margin-right: 20px;
        }

        p{
            margin: 0;
            font-weight: bold;
            font-size: 20px;
        }
    }

}