.table-categories-admin{
    td{
        .ui.image{
            width: 100px;
            height: 70px;
        }
        &.status{
            .icon{
                &.close{
                    color: red;
                }
                &.check{
                    color: green;
                }
                
            }
        }
    }
}